{% extends 'base.html.twig' %}

{% block name %}{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}

{% include("includes/nav.html.twig") %}

<h1 class="text-center m-5">Page d'inscription</h1>

{% include("includes/footer.html.twig") %}
{% endblock %}
