<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Chapelle des adorateurs">
        <meta name="description" content="Chapelle des adorateurs"> 
        <meta name="keywords" content="culte, Dieu, Jésus, association, association cultuelle, association culturelle, cotisation, cotisations, adhérents, adhérent, adhésions adhésion, prière, adoration, louange"> 
        <title>{% block title %}Chapelle des adorateurs{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/chad.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/w3-css/4.1.0/w3.css">
        
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block content%}{% endblock %}
        {% include("includes/nav.html.twig") %}

        {% include("includes/footer.html.twig") %}
        {% block javascripts %}{% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
        <script src="{{ asset('chad.js') }}"></script>
    </body>
</html>
